$fontSize16: pxToRem(16px);
$fontSize: pxToRem(12px);
$fontColor: #333;

$testColor: #ffa;

$baseBackColor: #eee;
$headerBackColor: #ececec;
$white: #fff;

$singleBorder: #ccc;

$activeBackColor: #ccc;
$activeColor: #111;
