$fontSize16: 16px;
$fontSize: 12px;
$fontColor: #333;

$testColor: #ffa;

$baseBackColor: #eee;
$headerBackColor: #ececec;
$white: #fff;

$singleBorder: #ccc;

$activeBackColor: #ccc;
$activeColor: #111;
